.formHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    margin: 10px;
}
.petsHolder{
    display: flex;
}
.pets{
    width: 50%;
    min-height: 200px;
    display: flex;
    border: black 1px solid;
}